RewriteEngine on

# Redirect to index.php for all requests except /assets/*
RewriteCond %{REQUEST_URI} !^/wiki/assets/
RewriteRule ^ index.php [L]

# Allow direct access to assets folder
<IfModule mod_rewrite.c>
    RewriteRule ^wiki/assets/ - [L]
</IfModule>